<h1>Editar Tratamento</h1>

<%= render 'form', treatment: @treatment %>

<%= link_to 'Visualizar', @treatment,  :class => 'btn btn-primary text-white' %>
<%= link_to 'Voltar', treatments_path,  :class => 'btn btn-secondary text-white' %>
