<h1>Editar Tratamento</h1>

<%= render 'form', treatment: @treatment %>

<%= link_to 'Visualizar', consultation_treatment_path(@consultation, @treatment),  :class => 'btn btn-primary text-white' %>
<%= link_to 'Voltar', consultation_treatments_path(@consultation),  :class => 'btn btn-secondary text-white' %>
