      <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
        <!-- Sidebar Toggle (Topbar) -->
        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
          <i class="fa fa-bars"></i>
        </button>

        <ul class="navbar-nav ml-auto">
          <li>
            <%= link_to 'Sair', destroy_user_session_path, method: :delete, class: 'btn btn-primary btn-intenal-signout text-white', style: 'margin-top: 15px;' %>
          </li>
          <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="<%= user_profile_url %>">
              <span class="mr-2 d-none d-lg-inline text-white-600 small"><%= current_user.name %></span>
              <img class="img-profile rounded-circle" src="/startbootstrap-sb-admin-2-gh-pages/img/undraw_profile.svg">
            </a>
          </li>
        </ul>
      </nav>
