<h1>Editar Consulta</h1>

<%= render 'form', consultation: @consultation %>

<%= link_to 'Visualizar', @consultation, class: "btn btn-info text-white" %> |
<%= link_to 'Voltar', consultations_path, class: "btn btn-secondary text-white" %>
