<div class="container-fluid">
  <div class="jumbotron">
    <h1 class="display-4">Health History!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
      <% if user_signed_in? %>
        <%= current_user.name %> 
        <br />
        <%= link_to 'Log Out', destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to 'Sign Up', new_user_registration_path %>
        <%= link_to 'Log In', dashboard_index_path %>
      <% end %>
    </p>
  </div>
</div>
