<h1>Editar Exame</h1>

<%= render 'form', exam: @exam %>

<%= link_to 'Visualizar', consultation_exam_path(@consultation, @exam), class: "btn btn-info text-white" %>
<%= link_to 'Voltar', consultation_exams_path(@consultation), class: "btn btn-secondary text-white" %>
