<h1>Editar Exame</h1>

<%= render 'form', exam: @exam %>

<%= link_to 'Visualizar', @exam, class: "btn btn-info text-white" %>
<%= link_to 'Voltar', exams_path, class: "btn btn-secondary text-white" %>
